@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0066ff;
    color: #ffffff;
    margin: auto;
  }



  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-3xl;
    margin: 0 0 5px 0;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-base;
  }
  p {
    @apply text-sm;
  }
  form {
    @apply text-blue-500 bg-white rounded-xl;
  }
  label {
    @apply mt-4 text-blue-700;
  }
  input,
  select,
  textarea {
    @apply p-1 m-1 border-blue-400 rounded border-spacing-3;
  }
  .field-option {
    display: flex;
    justify-items: row;
    border: 3px solid #008eff;
  }
}

@layer components {
  .icon {
    @apply text-xl text-default-text;
  }
  .btn {
    @apply block px-4 py-2 font-bold tracking-wider text-center bg-white border-2 rounded-full shadow-lg cursor-pointer hover:no-underline border-princetonOrange hover:bg-blue-accent-hover transition-colors text-slate-900;
  }
  .blue-btn {
    @apply p-2 m-4 text-xl text-white rounded bg-brandBlue hover:bg-blue-600;
  }
  .event-form {
    @apply flex flex-col mx-1 my-2;
  }
  .form-q-title {
    @apply my-4 text-brandBlue;
  }
  .input-main {
    @apply w-full p-4 text-black bg-white border-4 border-blue-600 rounded shadow-lg focus:border-princetonOrange focus:ring focus:ring-orange-200;
  }
  .input-secondary {
    @apply w-full text-blue-900 field-option rounded-md shadow-sm focus:outline-none focus:border-princetonOrange;
  }

  .event-progressbar {
    background-color: #008eff;
    color: #ffffff;
    border-radius: 2em;
  }
}
