@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #008eff;
    color: #ffffff;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-3xl;
    margin: 0 0 5px 0;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-base;
  }
  p {
    @apply text-sm;
  }
  form {
    @apply rounded-xl p-4 bg-white  text-blue-500;
  }
  label {
    @apply mt-4;
  }
  input,
  select,
  textarea {
    @apply m-1 rounded p-1 border-spacing-3 border-blue-400;
  }
  .options {
    display: flex;
    justify-items: row;
    border: 3px solid #008eff;
  }
}

@layer components {
  .icon {
    @apply text-default-text text-xl;
  }
  .btn {
    @apply hover:no-underline bg-blue-accent tracking-wider  text-center text-white font-bold cursor-pointer px-4 py-2 rounded-full hover:bg-blue-accent-hover transition-colors block;
  }
  .text-border-3 {
    border: 3px #008eff solid;
  }

  .event-progressbar {
    background-color: #008eff;
    color: #ffffff;
    border-radius: 2em;
  }
}
