@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #008eff;
    color: #ffffff;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl;
    margin: 0 0 5px 0;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  p {
    @apply text-sm;
  }
  form {
    @apply rounded-xl p-4;
  }
  label {
    @apply mt-4;
  }
  input,
  select,
  textarea {
    @apply m-1 rounded p-1;
  }
}

@layer components {
  .icon {
    @apply text-default-text text-xl;
  }
  .btn {
    @apply hover:no-underline bg-blue-accent tracking-wider  text-center text-nav font-bold cursor-pointer px-4 py-2 rounded-full hover:bg-blue-accent-hover transition-colors block;
  }
}
